/** MOBILE */

@media screen and (max-width: 427px) {
  .modal {
    width: 90%;
    height: 90%;
    height: 564px;
  }
  .mobile-link.tel {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 428px;
    background-image: linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg/mobile-hero-bcg@1x.jpg);
  }
}
@media screen and (max-width: 767px) and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi)) {
  .hero {
    max-width: 428px;
    background-image: linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg/mobile-hero-bcg@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    height: 70px;
  }

  .header-menu-list,
  .header-address {
    display: none;
  }

  .advantages-block {
    display: none;
  }

  .advantagers-subtitle {
    text-align: center;
  }

  .footer-main-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-main-container {
    row-gap: 72px;
    flex-direction: column;
    align-items: center;
  }

  .soc-text {
    text-align: center;
  }

  .footer-form {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .product-btn-list {
    flex-wrap: wrap;
    column-gap: 21px;
    row-gap: 16px;
    max-width: 265px;
  }
}

/**------ Tablet -------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .menu-container {
    display: none;
  }

  .header-menu-toggle {
    display: none;
  }
}
@media screen and (max-width: 1157px) and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi)) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg/tablet-hero-bcg@2x.jpg);
  }
}
@media screen and (max-width: 1157px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg/tablet-hero-bcg@1x.jpg);
  }

  .section-service {
    display: none;
  }

  .footer-input {
    opacity: 0.30000001192092896;
  }
  .footer-input::placeholder {
    opacity: 0.6000000238418579;
  }
}

/**------ DESKTOP -------*/

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
  }

  .hero {
    width: 100%;
    max-width: 1440px;
    background-image: linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg/desktop-hero-bcg@1x.jpg);
  }
}
@media screen and (min-width: 1158px) and ((-webkit-min-device-pixel-ratio: 2) or (min-resolution: 192dpi)) {
  .hero {
    width: 100%;
    max-width: 1440px;
    background-image: linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg/desktop-hero-bcg@2x.jpg);
  }
}
